body {
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

.section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  width: 30%;
  margin: 10px;
  margin-top: 60px;
}

.title{
  margin: 0;
  color: #195A94;
  font-weight: bold;
  font-size: 30px;
}

.date {
  font-size: 14px;
  padding-bottom: 10px;
}

.card-body {
  line-height: 1.6;
  padding: 0px;
}

.card-body a {
  color: #007bff;
  text-decoration: none;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.card-footer .author {
  display: flex;
  align-items: center;
}

.card-footer .author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}


.card-footer .author span {
  font-weight: bold;
  word-break: break-all;
}

.card-footer .btn {
  background-color: #195A94;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comments {
  display: flex;
  align-items: center;
}

.comments i {
  font-size: 14px;
  margin-right: 5px;
}
