<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <title>Document</title>
</head>
<body>

<!-- CARD -->
<!-- <div class="section">
  <div class="container">
    <h3 class="heading">NEWS Update</h3>
    <div class="col-md-4">
    <div class="card" style="width: 25rem;">
      <img src="./assets/img/card dummy.jpg" alt="1900x600">
      <p><i class="fa-solid fa-calendar-days"></i>17 Jun, 2024</p>
      <div class="card-body">
        <h5 class="card-title">Hymn to the United Nations</h5>
  
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti totam rerum earum unde libero dolore delectus at deserunt aliquid.</p>
        <hr>
          <img src="./assets/img/dummy-avatar.jpg" alt="profile photo" class="profile_photo">
        <p class="profile-text">Profile Name</p>
        <a href="#" class="btn-read btn btn-primary"><i class="fa-solid fa-circle-right"></i>Read More</a>
      </div>
    </div>
     

   </div>
  </div>
</div> -->
<section>
<div class="container">

    <p class="head">NEWS Updates</p>

  <div class="card">
     
    <img src="./assets/img/card dummy.jpg" class="image">
    <div class="date">24 Oct, 2021</div>
        <h4>Hymn to the United Nations</h4>
    <div class="card-body">
      <p>Get inspired by this revived W.H. Auden's Hymn to the United Nations. "Let music for peace Be the paradigm, For peace means to change At the right time, As the World-Clock, Goes Tick and Tock.So may the story of our human city Presently move</p>
    </div>
    <div class="card-footer">
      <div class="author">
        <img src="./assets/img/dummy-avatar.jpg" alt="Author">
        <span>Windy Bond</span>
      </div>
      <button class="btn">Read More</button>
    </div>
  </div>

  <div class="card">
    <img src="./assets/img/card dummy.jpg"  class="image">
    <div class="date">24 Oct, 2021</div>
        <h4>Why do we mark International Days?</h4>
    <div class="card-body">
      <p>International days and weeks are occasions to educate the public on issues of concern, to</p>
    </div>
    <div class="card-footer">
      <div class="author">
        <img src="./assets/img/dummy-avatar.jpg" alt="Author">
        <span>William Ray</span>
      </div>
      <button class="btn">Read More</button>
    </div>
  </div>

  <div class="card">
    
    <img src="./assets/img/card dummy.jpg"  class="image">
    <div class="date">24 Oct, 2021</div>
      <h4>How it Started?</h4>
    <div class="card-body">
      <p>In 1945, representatives of 50 countries met in San Francisco at the United Nations Conference on International Organization to draw up the United Nations Charter. The United Nations officially came into existence on 24 October 1945</p>
    </div>
    <div class="card-footer">
      <div class="author">
        <img src="./assets/img/dummy-avatar.jpg" alt="Author">
        <span>William Ray</span>
      </div>
      <button class="btn">Read More</button>
    </div>
  </div>
</div>
</section>
</body>
</html>