<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <title>Document</title>
</head>
<body>

<section>
  <div class="container">
    <app-header></app-header>
    <div *ngFor="let article of newsFeed" class="card">
      <img [src]="article.image" class="image">
      <div class="date">{{ article.publishedAt | date: 'd MMM, y'}}</div>
      <div class="title">
        <h5>{{ article.title }}</h5>
      </div>
        <p class="card-body">{{ article.description }}</p>
      <div class="card-footer">
        <div class="author">
          <img src="./assets/img/dummy-avatar.jpg" alt="Author">
          <span class="text">{{ article.author }}</span>
        </div>
        <button class="btn" (click)="openArticle(article.url)">Read More</button>
      </div>
    </div>
  </div>
</section>

</body>
</html>